version: "3.8"

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb-compose
    networks:
      - app-network
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=SecurePass123
      - MONGO_INITDB_DATABASE=nodevault
    restart: unless-stopped

  backend:
    image: schwifty404/scdproject25:v1.0
    container_name: nodevault-compose
    networks:
      - app-network
    env_file:
      - .env
    depends_on:
      - mongodb
    restart: unless-stopped
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
